<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
  This is a sample FriendlyErrorMessages configuration file. 

  NAMING CONVENTION:
  Note that this file must be named as following: FriendlyErrorMessages.[UICultureName].config
  where: UICultureName = culture name of the UI thread which is in RFC 1766 standard format "<languagecode2>-<country/regioncode2>".  
  <languagecode2> is a lowercase two-letter code derived from ISO 639-1 and <country/regioncode2> is an uppercase two-letter code derived from ISO 3166.  
  
  e.g.
  FriendlyErrorMessages.en-US.config
  
  There can be multiple configuration files placed in the bin folder, one for each of the desired cultures.  Correct configuration will be automatically
  used by the application.
-->

<!--
  CUSTOM FRIENDLY MESSAGES:
  Provide any number of errorMessage elements as below, where:
  
  declaringType = Fully qualified name of the class that calls FriendlyErrorMessageMapper.GetFriendlyErrorMessage()
  callingMethodName = Name of method that calls FriendlyErrorMessageMapper.GetFriendlyErrorMessage()
  exceptionTypeName = Either fully qualified name of specific exception, or "*" for all exceptions
  friendlyMessage = Message text that will be returned by FriendlyErrorMessageMapper.GetFriendlyErrorMessage()
-->

  <errorMessage     
    declaringTypeName="MyCompany.ProductName.ClassName"
    callingMethodName="DoSomething" 
    exceptionTypeName="*" 
    friendlyMessage="An error occured while calling ClassName.DoSomething()." />  

</configuration>

